<h1>Welcome to About</h1>
<p>
  You fortune for the day:
</p>
<blockquote>
  {{fortune}}
</blockquote>
<p>
  Please feel free to <a href="/contact">contact us</a>
  with any questions or comments.
</p>
